<h1 class="text-center">Formulario</h1>

<section class="section-main">
    <article class="article-main">
        <form [formGroup]="userModel">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email:</label>
                <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [class.is-invalid]="emailControl.touched && emailControl.invalid">
                <div class="invalid-feedback">
                    El campo es requerido
                </div>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input [formControl]="passwordControl" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="inputCity" class="form-label">City</label>
                <input
                formControlName="city"
                type="text"
                class="form-control"
                [class.is-invalid]="cityControl.touched && cityControl.invalid"
                id="inputCity"/>
                <div class="invalid-feedback">
                    El campo es requerido
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </article>
</section>
